// dark
$backgroundDark: #151619;
$headerDark: #1D1F22;
$quoteBlockDark: #2B2D31;
$markdownBodyDark: #C1C4CB;
$headerDark: #C1C4CB;
$previewBodyDark: #C1C4CB;
$headerDark: #FFFFFF;
$quoteDark: #FFFFFF;
$codeDark: #FFFFFF;
$dividerDark: #5A6069;

// light
$backgroundLight: #FFFFFF;
$headerLight: #F5F5F5;
$quoteBlockLight: #F5F5F5;
$markdownBodyLight: #35393F;
$sectionHeaderLight: #7C8187;
$previewBodyLight: #7C8187;
$headerLight: #35393F;
$quoteLight: #35393F;
$codeLight: #35393F;
$dividerLight: #E4E4E4;

// Main
$orange: #E46643;