// dark
$backgroundDark: #151619;
$headerDark: #1D1F22;
$quoteBlockDark: #2B2D31;
$dividerDark: #5A6069;

// light
$markdownBodyLight: #35393F;
$dividerLight: #E4E4E4;

// Main
$orange: #E46643;
$darkWhite: #F5F5F5;
$white: #FFFFFF;
$lightGray: #C1C4CB;
$gray: #7C8187;
$darkGray: #35393F;