@import "./../../assets/colors/color.scss";
@import "./../../assets/variables/variables.scss";

.main {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  position: fixed;

  &__left-side {
    width: 50%;
    height: 100%;
    transition: width 0.3s ease-in-out;

    &_short {
      width: 0%;
    }
  }

  &__right-side {
    width: 50%;
    height: 100%;
    transition: width 0.3s ease-in-out;

    &_long {
      width: 100%;
    }
  }
}

.markdown {
  height: 100vh;

  &__textarea {
    width: 100%;
    min-height: calc(100vh - 134px);
    border: none;
    font-size: 16px;
    font-family: $font-roboto-mono;
    padding: 5px 20px 10px 20px;
    box-sizing: border-box;
    border-right: 2px solid $divider-dark;
    resize: none;
    overflow: auto;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &_dark {
      background-color: $background-dark;
      color: $light-gray;
    }

    &_light {
      background-color: $dark-white;
      color: $quote-block-dark;
    }

    &:focus {
      outline: none;
    }
  }

  &__title-block {
    border-right: 2px solid $divider-dark;
    transition: background-color 0.3s ease-in-out;

    &_dark {
      background-color: $quote-block-dark;
    }

    &_light {
      background-color: $divider-light;
    }
  }

  &__title {
    color: $gray;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
    letter-spacing: 0.1rem;
  }
}

.preview {
  height: 100%;

  &__title-block {
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;

    &_dark {
      background-color: $quote-block-dark;
    }

    &_light {
      background-color: $divider-light;
    }
  }

  &__title {
    color: $gray;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
    letter-spacing: 0.1rem;
  }

  &__show-btn {
    background-image: url(./../../assets/images/icon-hide-preview.svg);
    width: 16px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity 0.3s ease-in-out;

    &_active {
      background-image: url(./../../assets/images/icon-show-preview.svg);
    }

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  &__text {
    width: 100%;
    height: 100%;

    font-size: 16px;
    word-break: break-word;
    box-sizing: border-box;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &_dark {
      background-color: $background-dark;
      color: $light-gray;
    }

    &_light {
      background-color: $dark-white;
      color: $quote-block-dark;
    }
  }

  &__content {
    max-height: calc(100vh - 180px);
    padding: 5px 20px 40px 20px;
    overflow: auto;
  }
}

@media (max-width: $mobile-size) {
  .main {
    &__left-side {
      width: 100%;

      &_short {
        width: 0;
      }
    }

    &__right-side {
      width: 0;

      &_long {
        width: 100%;
      }
    }
  }
}
