@import "./../../assets/colors/color.scss";

#menu-toggle {
  opacity: 0;
  width: 86px;
  height: 80px;

  &:hover {
    cursor: pointer;
  }

  &:checked + .hamburger__btn > span {
    transform: rotate(45deg);

    &::before {
      top: 0;
      transform: rotate(0deg);
    }

    &::after {
      top: 0;
      transform: rotate(90deg);
    }
  }

  &:checked ~ .menu__box {
    left: 0 !important;
  }
}

.hamburger {
  &__btn {
    position: fixed;
    top: 35px;
    left: 25px;
    width: 30px;
    height: 10px;
    cursor: pointer;
    z-index: 1;

    > span,
    > span::before,
    > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $dividerLight;
      transition: all 0.3s ease-in-out;
    }

    > span::before {
      content: "";
      top: -8px;
    }

    > span::after {
      content: "";
      top: 8px;
    }
  }
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100vh;
  margin: 0;
  list-style: none;
  background-color: $quoteBlockDark;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transform: translateX(-250px);
}

.header {
  width: 100%;
  height: 80px;
  background-color: $darkGray;
  display: flex;
  justify-content: space-between;

  &.menu-open {
    .header__left-side {
      transform: translateX(250px);
    }
  }

  &__left-side {
    display: flex;
  }

  &__menu-btn {
    width: 85px;
    height: 80px;
    background-color: $dividerDark;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $orange;
    }
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 130px;
    height: 12px;
    padding: 0 20px;
  }

  &__vertical-line {
    border-left: 1px solid $dividerDark;
    height: 50px;
  }

  &__right-side {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__delete-btn {
    width: 18px;
    height: 20px;
    background-image: url(./../../assets/images/icon-delete.svg);
    border: none;
    background-color: transparent;
    margin-right: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  &__save-btn {
    background-color: $orange;
    color: $white;
    border: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &__save-logo {
    margin-right: 10px;
  }
}

.document {
  display: flex;
  align-items: center;
  padding: 0 20px;

  &__logo {
    width: 14px;
    height: 16px;
    padding-right: 20px;
  }

  &__subtitle {
    color: $lightGray;
  }

  &__title {
    color: $darkWhite;
  }
}
