#menu-toggle {
  opacity: 0;
  width: 86px;
  height: 80px;
}
#menu-toggle:hover {
  cursor: pointer;
}
#menu-toggle:checked + .hamburger__btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked + .hamburger__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu-toggle:checked + .hamburger__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menu {
  left: 0 !important;
}

.hamburger__btn {
  position: fixed;
  top: 35px;
  left: 25px;
  width: 30px;
  height: 10px;
  cursor: pointer;
  z-index: 1;
}
.hamburger__btn > span,
.hamburger__btn > span::before,
.hamburger__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e4e4e4;
  transition: all 0.3s ease-in-out;
}
.hamburger__btn > span::before {
  content: "";
  top: -8px;
}
.hamburger__btn > span::after {
  content: "";
  top: 8px;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #35393f;
  display: flex;
  justify-content: space-between;
}
.header.menu-open .header__left-side {
  transform: translateX(250px);
}
.header__left-side {
  display: flex;
}
.header__menu-btn {
  width: 85px;
  height: 80px;
  background-color: #5a6069;
  transition: all 0.3s ease-in-out;
}
.header__menu-btn:hover {
  background-color: #e46643;
}
.header__block {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 130px;
  height: 12px;
  padding: 0 20px;
}
.header__vertical-line {
  border-left: 1px solid #5a6069;
  height: 50px;
}
.header__right-side {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header__delete-btn {
  width: 18px;
  height: 20px;
  background-image: url(./../../assets/images/icon-delete.svg);
  border: none;
  background-color: transparent;
  margin-right: 20px;
}
.header__delete-btn:hover {
  cursor: pointer;
}
.header__save-btn {
  background-color: #e46643;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}
.header__save-btn:hover {
  cursor: pointer;
}
.header__save-logo {
  margin-right: 10px;
}

.menu {
  display: block;
  position: fixed;
  top: 0;
  width: 210px;
  height: 100vh;
  margin: 0;
  list-style: none;
  background-color: #2b2d31;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transform: translateX(-250px);
  padding: 0 20px;
}
.menu__title {
  text-transform: uppercase;
  color: #5a6069;
  letter-spacing: 0.1rem;
  margin: 30px 0;
}
.menu__create-btn {
  background-color: #e46643;
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.menu__create-btn:hover {
  cursor: pointer;
}
.menu__block {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.menu__image {
  margin-right: 10px;
}
.menu__date {
  font-size: 14px;
  color: #5a6069;
}
.menu__filename {
  color: #ffffff;
  font-size: 16px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__logo-light {
  position: absolute;
  top: 90%;
  left: 52%;
}
.menu__logo-dark {
  position: absolute;
  top: 90%;
  left: 10%;
}
.menu__theme-switch, .menu__theme-label {
  position: absolute;
  z-index: 2;
}
.menu__theme-switch {
  opacity: 0;
}
.menu__theme-label {
  position: absolute;
  top: 89%;
  left: 20%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  width: 50px;
  height: 10px;
  border-radius: 50px;
  background-color: #5a6069;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
}
.menu__theme-label:hover {
  cursor: pointer;
}
.menu span {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  width: 100%;
}
.menu span::after {
  position: absolute;
  top: calc(100% + 15px);
  left: 5px;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  background-color: #ffffff;
  transition: transform 200ms, background-color 200ms;
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
}
.menu__theme-switch:checked ~ .menu__theme-label span::after {
  transform: translate3d(40px, 0, 0);
}

.document {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.document__logo {
  width: 14px;
  height: 16px;
  padding-right: 20px;
}
.document__subtitle {
  color: #c1c4cb;
}
.document__title {
  color: #f5f5f5;
}/*# sourceMappingURL=index.css.map */