#menu-toggle {
  opacity: 0;
  width: 86px;
  height: 80px;
}
#menu-toggle:hover {
  cursor: pointer;
}
#menu-toggle:checked + .hamburger__btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked + .hamburger__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu-toggle:checked + .hamburger__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menu {
  left: 0 !important;
}

.hamburger__btn {
  position: absolute;
  top: 35px;
  left: 25px;
  width: 30px;
  height: 10px;
  cursor: pointer;
  z-index: 1;
}
.hamburger__btn > span,
.hamburger__btn > span::before,
.hamburger__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e4e4e4;
  transition: all 0.3s ease-in-out;
}
.hamburger__btn > span::before {
  content: "";
  top: -8px;
}
.hamburger__btn > span::after {
  content: "";
  top: 8px;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #35393f;
  display: flex;
  position: relative;
  z-index: 2;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header.menu-open .header__left-side {
  transform: translateX(250px);
}
.header__left-side {
  transition: all 0.3s ease-in-out;
  display: flex;
}
.header__menu-btn {
  width: 85px;
  height: 80px;
  background-color: #5a6069;
  transition: background-color 0.3s ease-in-out;
}
.header__menu-btn:hover {
  background-color: #e46643;
}
.header__block {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 130px;
  height: 12px;
  padding: 0 20px;
}
.header__vertical-line {
  border-left: 1px solid #5a6069;
  height: 50px;
}
.header__right-side {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header__delete-btn {
  width: 18px;
  height: 20px;
  background-image: url(./../../assets/images/icon-delete.svg);
  border: none;
  background-color: transparent;
  margin-right: 20px;
  transition: opacity 0.3s ease-in-out;
}
.header__delete-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
.header__save-btn {
  background-color: #e46643;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.header__save-btn:hover {
  cursor: pointer;
  background-color: #f77a58;
}
.header__save-logo {
  margin-right: 10px;
}

.document {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.document__block {
  width: 140px;
}
.document__logo {
  width: 14px;
  height: 16px;
  padding-right: 20px;
}
.document__subtitle {
  color: #c1c4cb;
}
.document__title {
  color: #f5f5f5;
  background-color: transparent;
  border: none;
  font-size: 16px;
  width: 100%;
}
.document__title:hover {
  cursor: pointer;
}
.document__title:focus {
  border-bottom: 1px solid #ffffff;
  outline: none;
}

.save-message {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  background-color: #ffffff;
  color: #7c8187;
  padding: 20px 30px;
  border-radius: 10px;
  font-weight: bold;
}

@media (max-width: 920px) {
  .header__logo {
    display: none;
  }
  .header__vertical-line {
    display: none;
  }
  .header__save-logo {
    margin: 0;
  }
  .header__save-text {
    display: none;
  }
  .document__block {
    width: 90px;
  }
  .document__logo {
    display: none;
  }
  .document__subtitle {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */